
ul li {
    padding:10px 0;
    text-align:center
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section{
    background-color: #88c1d0;
    min-height: 100px;
    width: 100vh;
    margin-top: 50px;
margin-left: 25px;

}
@media all and (min-width: 768px) and (max-width: 1599px) {
    main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section{
        width: 45%;
    }
}
@media all and (min-width: 1600px) {
    .section{
        width: 25%;
    }
    main{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
@media all and  (max-width: 768px){
    header {
        position:relative;
        max-width:500px;
    }
    ul {
        background:blue;
        width:100%;
        left:0;
        top:100%;
        padding:10px 0;
        transform:scaleY(0);
        transform-origin:center top;
        transition:all 0.3s ease;
    }
    ul.open {
        transform:scaleY(1);
    }
    #burger {

        width:30px;
        height:50px;
        background:white;
        display:inline-block;
        position:relative;
    }
    #burger::before,
    #burger::after {
        content:'';
        width:30px;
        height:2px;
        background:black;
        display:inline-block;
        position:absolute;
        transform-origin: center;
        transition: all 0.3s ease;
    }
    #burger::before {
        top:-7px;
    }
    #burger::after {
        top:7px;
    }
    #burger.open {
        background:transparent; /* la barre du milieu disparait */
    }
    /* celles du haut et du bas s'inclinent pour former une croix */
    #burger.open::before {
        transform: rotate(45deg);
        top:0;
    }
    #burger.open::after {
        transform: rotate(-45deg);
        top:0;
    }
}